@{
    ViewData["Title"] = "Home Page";
}
<!--
<script src="~/js/three.js" asp-append-version="true"></script>
<script type="module" src="~/js/GLTFLoader.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/main.css" />

<button class="btn">button</button>

<script type="module" src="~/js/main.js" asp-append-version="true"></script>
-->
<script src="~/js/threeJS/three.js" asp-append-version="true"></script>
@*<script type="module" src="~/js/GLTFLoader.js" asp-append-version="true"></script>
<script type="module" src="~/js/DRACOLoader.js" asp-append-version="true"></script>*@
<link rel="stylesheet" href="~/css/main.css" />

<button class="btnEnter">Enter</button>
<img src="~/models/PNG2/phalanity.gif" class="loading_img"/>
<canvas class="webgl"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

<script type="module" src="~/js/main.js" asp-append-version="true"></script>

@*<script type="module" src="~/js/JavaScript.js" asp-append-version="true"></script>*@

